<form action="/figures" method="POST">
<label>Figure Name: <input type="text" name="figure[name]" id="figure_name"></label>
<label>Title: <input type="text" name="figure[title_ids][]" id="figure_title"></label>
<input type="submit" id="submit">
</form>
