<form action="/figures" method="POST">
<label>Figure Name: <input type="text" name="figure[name]" id="figure_name"></label>
<label>Title: <input type="text" name="title[name]" id="figure[title_ids][]"></label>
<label>Landmarks: <input type="text" name="landmark[name]" id="figure[landmark_ids][]"></label>
<input type="submit" id="submit">
</form>
